In [15]:
import pandas as pd
import numpy as np 
import pickle 

corrMatrix = pickle.load(open('corrmtx.pkl','rb'))
model = pickle.load(open('model.pkl','rb'))
df = pd.read_csv('Users.csv')

In [40]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
customer_data = pd.read_csv('ColumnCountsperCustomer.csv')

In [17]:
def get_similar(itemId):
    similar_ratings = corrMatrix[itemId]
    index_list=similar_ratings.index
    value_list = similar_ratings.values
    final_df = pd.DataFrame(index=index_list)
    final_df['Corr'] = value_list
    final_df = final_df.sort_values(by='Corr',ascending=False)
    return final_df

In [54]:
def get_item_item(test_user) :
    user_items = []
    data = customer_data[customer_data['CustomerNumber']==test_user]
    user_items = [column for column in data.columns if data[column].iloc[0]!=0][1:]
    similar_items = pd.DataFrame()
    for item in user_items:
        recommended_df = get_similar(item)
#         print(recommended_df)
        items = recommended_df.index
        for item in items:
            if item not in user_items:
                similar_items = similar_items.append(recommended_df.loc[item])
    similar_items = similar_items[similar_items['Corr']>0]
    final_item_list = []
    final_similarity = []

    for item in np.unique(similar_items.index):
        data = similar_items.loc[item]
        final_item_list.append(item)
        final_similarity.append(data.Corr.mean())
    
    items_df = pd.DataFrame()
    items_df['Item'] = final_item_list
    items_df['Similarity'] = final_similarity
    x = np.asanyarray(final_similarity,dtype=np.float32)
    x-=np.min(final_similarity)
    x/= (np.max(final_similarity)-np.min(final_similarity))
    items_df['Score'] = x
    items_df = items_df.sort_values(by='Score',ascending=False)
    return items_df

In [82]:
item_item_recommendation = get_item_item('CAA0023')
item_item_recommendation

     Item  Similarity     Score
76   GL32    0.101457  1.000000
130  LF44    0.098093  0.966167
70   GL02    0.096041  0.945538
77   GL37    0.079219  0.776355
73   GL11    0.068092  0.664458
..    ...         ...       ...
180  RW01    0.007706  0.057175
182  RW10    0.006065  0.040671
20   AS30    0.004464  0.024575
154  LS11    0.004464  0.024568
153  LS09    0.002021  0.000000

[221 rows x 3 columns]

In [68]:
def get_item_users(test_user):
    distances,indices = model.kneighbors(df[df['Customer Code']==test_user][['DaysPresent','Revenue']],n_neighbors=6)
    indices = indices.squeeze()[1:]
    distances = distances.squeeze()[1:]
    similar_users=[df['Customer Code'].values[i] for i in indices]
    user_items = []
    data = customer_data[customer_data['CustomerNumber']==test_user]
    user_items = [column for column in data.columns if data[column].iloc[0]!=0]
    recommended_items= []
    similarity = []
    for i in range(len(similar_users)) :
        if similar_users[i] in list(customer_data['CustomerNumber']):
            data = customer_data[customer_data['CustomerNumber']==similar_users[i]]
#         print(data.head())
            for column in data.columns[1:] :
                if data[column].iloc[0]!=0:
                    if column not in user_items:
                        recommended_items.append(column)
                        similarity.append(distances[i])
                        
    users_df = pd.DataFrame()
    users_df['Item'] = recommended_items
    users_df['Similarity'] = similarity
    
    x = np.asanyarray(similarity,dtype=np.float32)
    x-=np.min(similarity)
    x/= (np.max(similarity)-np.min(similarity))
    x = 1-x
    users_df['Score'] = x
    users_df = users_df.sort_values(by='Score',ascending=False)    
    return users_df

In [83]:
user_item_recommendation = get_item_users('CAA0023')

In [84]:
user_item_recommendation

   Item   Similarity    Score
0  DP02  3356.008198  1.00000
1  AS17  3356.008198  1.00000
2  MN01  4883.960000  0.46452
3  CA06  4883.960000  0.46452
4  GH02  6209.430000  0.00000
5  FA05  6209.430000  0.00000
6  GG01  6209.430000  0.00000

In [71]:
item_item_recommendation

     Item  Similarity     Score
158  MX01    0.074584  1.000000
115  LF44    0.061370  0.816641
164  QC99    0.052401  0.692197
7    AD05    0.050526  0.666179
178  SD10    0.050457  0.665219
..    ...         ...       ...
31   CA06    0.006559  0.056101
32   CA07    0.006372  0.053502
67   GL12    0.005828  0.045949
135  LS01    0.004306  0.024832
66   GL02    0.002516  0.000000

[206 rows x 3 columns]

In [72]:
user_item_recommendation

    Item    Similarity     Score
0   AD05   1142.141498  1.000000
2   DP07   1142.141498  1.000000
3   GW99   1142.141498  1.000000
4   LF77   1142.141498  1.000000
5   LF07   1142.141498  1.000000
6   AD01   1142.141498  1.000000
7   AS52   1142.141498  1.000000
8   AS11   1142.141498  1.000000
9   GH03   1142.141498  1.000000
10  GG01   1142.141498  1.000000
1   LF18   1142.141498  1.000000
14  AS03   7763.811776  0.773045
16  FA06   7763.811776  0.773045
15  WI04   7763.811776  0.773045
13  WI15   7763.811776  0.773045
12  AS15   7763.811776  0.773045
11  LF35   7763.811776  0.773045
17  GL04  24644.768007  0.194457
18  GP10  26361.708281  0.135610
19  GH03  26361.708281  0.135610
20  FA14  30318.279898  0.000000
21  LL04  30318.279898  0.000000
22  AS15  30318.279898  0.000000
23  WI02  30318.279898  0.000000
24  IP02  30318.279898  0.000000
25  LF12  30318.279898  0.000000

In [85]:
final_item_list =[]
score = []
confidence = []


for item in item_item_recommendation.Item.values:
    if item in user_item_recommendation.Item.values:
        final_item_list.append(item)
        confidence.append(1)
        if user_item_recommendation[user_item_recommendation['Item']==item].Score.values[0] > item_item_recommendation[item_item_recommendation['Item']==item].Score.values[0] :           
            score.append(user_item_recommendation[user_item_recommendation['Item']==item].Score.values[0])
        else:
            score.append(item_item_recommendation[item_item_recommendation['Item']==item].Score.values[0])
    else :
        final_item_list.append(item)
        confidence.append(0)
        score.append(item_item_recommendation[item_item_recommendation['Item']==item].Score.values[0])

        
recommendation_df = pd.DataFrame()
recommendation_df['Items'] = final_item_list
recommendation_df['Confidence'] = confidence 
recommendation_df['Score'] = score

In [86]:
recommendation_df.sort_values(['Confidence', 'Score'], ascending=[False, False])

    Items  Confidence     Score
7    DP02           1  1.000000
97   AS17           1  1.000000
163  CA06           1  0.464520
168  MN01           1  0.464520
107  GH02           1  0.258284
..    ...         ...       ...
216  RW01           0  0.057175
217  RW10           0  0.040671
218  AS30           0  0.024575
219  LS11           0  0.024568
220  LS09           0  0.000000

[221 rows x 3 columns]

In [89]:
def get_recommendation(userID) :
    item_item_recommendation = get_item_item(userID)
    user_item_recommendation = get_item_users(userID)
    final_item_list =[]
    score = []
    confidence = []
    
    for item in item_item_recommendation.Item.values:
        if item in user_item_recommendation.Item.values:
            final_item_list.append(item)
            confidence.append(1)
            if user_item_recommendation[user_item_recommendation['Item']==item].Score.values[0] > item_item_recommendation[item_item_recommendation['Item']==item].Score.values[0] :           
                score.append(user_item_recommendation[user_item_recommendation['Item']==item].Score.values[0])
            else:
                score.append(item_item_recommendation[item_item_recommendation['Item']==item].Score.values[0])
        else :
            final_item_list.append(item)
            confidence.append(0)
            score.append(item_item_recommendation[item_item_recommendation['Item']==item].Score.values[0])
    recommendation_df = pd.DataFrame()
    recommendation_df['Items'] = final_item_list
    recommendation_df['Confidence'] = confidence 
    recommendation_df['Score'] = score
    recommendation_df.sort_values(['Confidence', 'Score'], ascending=[False, False])
    recommendation_df = recommendation_df[recommendation_df['Score']>0]
    return recommendation_df

In [90]:
print(get_recommendation('CSH1965'))

    Items  Confidence     Score
0    MX01           0  1.000000
1    LF44           0  0.816641
2    QC99           0  0.692197
3    AD05           1  1.000000
4    SD10           0  0.665219
..    ...         ...       ...
200  LS09           0  0.065018
201  CA06           0  0.056101
202  CA07           0  0.053502
203  GL12           0  0.045949
204  LS01           0  0.024832

[205 rows x 3 columns]

In [8]:
final_recommendation = []
confidence = []
for item in user_item_recommendation:
    if item in item_item_recommendation:
        final_recommendation.append(item)
        confidence.append(1)
    else:
        final_recommendation.append(item)
        confidence.append(0)

In [9]:
recommendation_df = pd.DataFrame()
recommendation_df['Item'] = final_recommendation
recommendation_df['Confidence'] = confidence

recommendation_df[recommendation_df['Confidence']==1].shape

(25, 2)

In [10]:
%who

confidence	 corrMatrix	 customer_data	 final_recommendation	 get_item_item	 get_similar	 item	 item_item_recommendation	 np
pd	 pickle	 recommendation_df	 user_item_recommendation